{% extends 'base2.html.twig' %}

{% block title %}MONTOUTOU - Nouvelle entrée{% endblock %}

{% block body %}
    <div class="m-3">
        <h2>Entrer un Nouvel Animal</h2>
        {{ form(form) }}
    </div>
{% endblock %}
