@import "~bootstrap/scss/bootstrap";

body, html {
    margin: 0;
    padding: 0;
    top: 0;
    border-bottom: 0;
}

a {
    text-decoration: none;
    
}

header {
    background-image: url("../images/clean-eyes.jpeg");
    background-size: cover;
    color: #FFFFFF;
    font-weight: 800;
    height: 300px;
}

.title {
    align-self: center;
    padding: 3rem ;
}

.maintitle {
    text-decoration: none;
    color: #FFFFFF
}

aside {
    min-height: 100%;
    position: absolute;
    right: 0;
}

.aside {
    background-color: #E7EBDF;
}

.aside2 {
    background-color: #DFEBEB;
}

.navbut {
    background-color: rgb(169, 210, 243);
    border-radius: 45px;
    box-shadow: 5px 5px 15px black;
}
.navbut a {
    color: #000;
    text-decoration: none;
}

.prez {
    font-size: larger;
}
.puppies {
    width: 400px;
}

.animal-card {
    text-align: -webkit-center; 
    box-shadow: 10px 10px 10px gainsboro;
    border-radius: 20px;
    padding: 1em;
}

.animal-img {
    width: 200px;
    height: 200px;
}

.add {
    position: fixed;
    bottom: 50px;
    right: 370px;
    z-index: 9;
}
.add a {
    margin: 0;
    padding: 5px;
    font-size: xx-large;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.container {
    margin: 10px;
    padding: 10px;
    border: 1px solid black; 
    border-radius: 5px;
}