@import "~bootstrap/scss/bootstrap";

body, html {
    margin: 0;
    padding: 0;
    top: 0;
    border-bottom: 0;

}

.header {
    background-color: #D8E0C9;
}

.header2 {
    background-color: #C9DFE0;
}

.title {
    align-self: center;
    padding: 3rem ;
}

.maintitle {
    text-decoration: none;
    color: black;
}

aside {
    min-height: 100%;
    position: absolute;
    right: 0;
}

.aside {
    background-color: #E7EBDF;
}

.aside2 {
    background-color: #DFEBEB;
}

.prez {
    font-size: larger;
}
.puppies {
    width: 400px;
}

.animal-card {
    text-align: -webkit-center;
}

.animal-img {
    width: 200px;
    height: 200px;
}

.add {
    position: fixed;
    bottom: 50px;
    right: 370px;
    z-index: 9;
}
.add a {
    margin: 0;
    padding: 5px;
    font-size: xx-large;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}