<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header class="text-center header2">
			<div class="title">
				<a href="{{ path('home') }}">
					<h1 class="maintitle">MONTOUTOU</h1>
				</a>
				<p>Le carnet vaccinal de mon animal</p>
			</div>
		</header>
		<div class="row">
			<main class="col-8 m-3"> {% block body %}{% endblock %}
            </main>
            <aside class="aside2 col-3">
                {% block aside %}
                        <div class=" m-5 text-center">
                            <a href="{{ path('app_logout') }}" class="btn btn-danger">deconnection</a>
                        </div>
                {% endblock %}
            </aside>
		</div>
		</body>
	</html>